@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karla", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
.btn-primary {
  font-weight: 700;
  font-size: 13px;
  color: #2c2830;
  padding: 13px 29px;
  background-color: #ffffff;
  transition: all 0.5s ease-in;
}
.btn-primary:hover {
  background-color: #2c2830;
  color: #fff;
}
header {
  max-width: 100%;

  padding: 31px 165px 0 165px;
  margin-bottom: 31px;
  // position: relative;
  // z-index: 2;
  // background-color: #ffffff;
  .container {
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      gap: 33px;
      align-items: center;
      ul {
        display: flex;
        gap: 25px;

        li {
          list-style: none;
          transition: all 0.2s ease-in-out;
          color: #837d88;
        }
        li:hover {
          color: #2c2830;
          cursor: pointer;
        }
      }
      input {
        display: none;
      }
      label {
        display: none;
      }
    }
  }
}
.section-container {
  background-color: #2d2641;
  margin-bottom: 305px;
  // position: relative;
  .box {
    display: flex;
    align-items: center;
    gap: 30px;
    div {
      width: 540px;
      img {
        transform: translateY(10%);
      }
      h1 {
        font-weight: 400;
        font-size: 72px;
        line-height: 64px;
        margin-bottom: 16px;
        color: #fff;
        letter-spacing: -1px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 24px;
      }
      .btn-primary {
        background-color: transparent;
        color: #ffffff;
        border: 1.5px solid #ffffff;
      }
      .btn-primary:hover {
        background-color: #fff;
        color: #2c2830;
      }
      .section-pattern {
        position: absolute;
        top: 0;
        // left: 1080px;
        right: 0;

        z-index: 1;
      }
    }
  }
}
.card-box {
  margin-bottom: 158px;
  .container {
    div {
      max-width: 717px;
      h2 {
        font-weight: 400;
        font-size: 72px;
        padding-top: 63px;
        margin-bottom: 96px;
        border-top: 1px solid #c396c6;
      }
    }
  }
  .card-container {
    display: flex;
    gap: 30px;

    .card {
      .card-wrapper {
        width: 350px;
        // width: 100%;
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 86px;
          height: 86px;
          border-radius: 50%;
          background-color: #96a9c6;
          margin-bottom: 32px;
          img {
            width: 23px;
            height: 32px;
          }
        }
        h3 {
          font-weight: 400;
          font-size: 28px;
          margin-bottom: 16px;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          color: #837d88;
        }
      }
    }
  }
}
.section-box {
  margin-bottom: 150px;
  .container {
    background-color: #2d2641;
    margin: 0 auto;
    padding: 69px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .width {
      max-width: 500px;
      width: 100%;
    }
    h3 {
      font-weight: 400;
      font-size: 56px;
      color: #fff;
      letter-spacing: 0.78px;
      line-height: 56px;
    }
  }
}
footer {
  background-color: #fafafa;
  max-width: 100%;
  height: 393px;
  padding: 64px 165px;
  margin: 0 auto;
  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    .icon {
      width: 112px;
      height: 18px;
    }
    div {
      display: flex;
      gap: 16px;
    }
  }
  .container {
    display: flex;
    padding-top: 48px;
    border-top: 1px solid #dadada;
    gap: 30px;
    .info {
      width: 255px;
      .company {
        color: #837d88;
        font-weight: 700;
        font-size: 13px;
        margin-bottom: 36px;
      }
      p {
        font-weight: 700;
        font-size: 13px;
        margin-bottom: 16px;
      }
      .licenses {
        margin-bottom: 0;
      }
    }
  }
}
@media (max-width: 1120px) {
  header {
    padding: 24px;
    .container {
      div {
        ul {
          height: 0;
          overflow: hidden;
          transition: all 0.5s ease-in;
          display: block;
        }
        .btn-primary {
          display: none;
        }
        input {
          display: block;
        }
        label {
          display: block;
        }

        input[type="checkbox"]:checked + ul {
          height: 200px;
          overflow: auto;
          background-color: #fff;
        }
        input[type="checkbox"] {
          appearance: none;
        }
      }
    }
  }
  .section-container {
    max-width: 375px;
    height: 500px;
    .box {
      flex-direction: column-reverse;
      div {
        width: 327px;
        margin-bottom: 140px;
        img {
          margin-bottom: 93px;
        }
        h1 {
          font-size: 48px;
          text-align: center;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
  .card-box {
    .container {
      .card-container {
        // display: block;
        flex-direction: column;
        align-items: center;
        .card {
          .card-wrapper {
            width: 327px;
          }
        }
      }
    }
  }
  .section-box {
    .container {
      display: block;
      .width {
        h3 {
          margin-bottom: 40px;
          font-size: 40px;
        }
      }
    }
  }
  footer {
    nav {
      display: block;
      .icon {
        margin-bottom: 32px;
      }
    }
    .container {
      display: block;
      .info {
        .licenses {
          margin-bottom: 40px;
        }
      }
    }
  }
}
